:root {
  font-size: 62.5%;
  --amarelo: #fae180;
  --preto: #000;
  --branco: #fff9e2;
  --vermelho: #dd0127;
  font-family: IBS;
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--branco);
}

#cadastro-form {
  height: 100%;
  width: 72.5rem;
  border-radius: 0 2rem 2rem 0;
  background-color: var(--azul);
  z-index: 2;

  h1 {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 5rem;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 2.5rem;

    input {
      border-radius: 1.5rem;
      width: 55rem;
      height: 4.5rem;
      background-color: #fff9e2;
      border: 0.3rem solid var(--preto);
      box-shadow: -2px 4px 0 0 var(--preto);
      padding-left: 2rem;
      font-size: 1.6rem;
      font-family: inherit;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 2.5rem;
    }

    button {
      width: 20rem;
      height: 5rem;
      border-radius: 1.5rem;
      border: 4px solid #000;
      background: var(--azul-escuro);
      box-shadow: 3px 4px 0 0 #000;
      color: var(--branco);
      font-size: 2rem;
      font-family: inherit;
      transition: all ease 0.3s;
      cursor: pointer;
      margin-top: 3rem;

      &:hover {
        background-color: #010b14;
      }
    }

    p {
      color: var(--preto);
      font-size: 1.5rem;

      a {
        color: var(--preto);
        text-decoration-thickness: 13%;
        text-underline-offset: 17%;
      }
    }
  }
}

#visual {
  position: relative;
  width: calc(100% - 72.5rem);
}

#logo-instituto {
  position: absolute;
  right: 2rem;
  top: 3rem;
  z-index: 2;
}

#efeito-esquerda {
  position: absolute;
  bottom: 0;
  left: -15rem;
  z-index: 1;
}

#efeito-direita-topo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#xmen {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

#efeito-direita-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}