* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --amarelo: #fae180;
  --preto: #000;
  --branco: #fff9e2;
  --vermelho: #dd0127;
  font-family: IBS;
}

body {
  background-color: #fffefc;
}

.navbar {
  background-color: #5c80be;
  height: 86px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.logo {
  width: 56px;
}

.nav-menu {
  display: flex;
  gap: 40px;
  margin-left: 40px;
}

.nav-item {
  font-size: 22px;
  cursor: pointer;
  color: black;
  position: relative;
  padding: 10px 20px;
}

.nav-item.active {
  background-color: #628dd8;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: 4px 4px 0px black;
}

.container {
  width: 80%;
  margin: 40px auto 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 80px;
}

.student-info-header {
  width: 80%;
  margin: 40px auto 10px;
  padding: 2.5rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #000;
}

.student-info-left {
  display: flex;
  flex-direction: column;
}

#nome-aluno {
  font-size: 4rem;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#turma-aluno {
  font-size: 2.2rem;
  color: #666;
  font-weight: 500;
  margin-top: -0.5rem;
}

.aluno-search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 1.2rem;
  border: 0.3rem solid #000;
  background: #fefefe;
  padding: 1rem 2rem;
  width: 35rem;
  background: #fff;
}

.aluno-search .search-icon {
  flex-shrink: 0;
  font-size: 1.6rem;
}

.aluno-search input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.4rem;
  color: #555;
  width: 100%;
  background: transparent;
  letter-spacing: 0.3px;
}

.aluno-search input::placeholder {
  color: #bbb;
}

.card {
  background-color: #f6f9ff;
  height: 15rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 3rem;
  position: relative;
}

.card-accent {
  position: absolute;
  left: 0;
  width: 30px;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.card-accent.dark {
  background-color: #0e2f4f;
}

.card-accent.light {
  background-color: #5c80be;
}

.avatar {
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.card-text h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

.card-text span {
  font-size: 1.8rem;
  color: #959595;
}
