body {
  width: 100%;
}

main {
  width: 100%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prof-turmas-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 3.5rem;
    color: #222;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 1.2rem;
  border: 0.3rem solid #000;
  background: #fefefe;
  padding: 1rem 2rem;
  width: 35rem;
  background: #fff;

  .search-icon {
    font-size: 1.6rem;
  }

  input {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: #555;
    width: 100%;
    background: transparent;
  }
}

#turmas {
  width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  gap: 9rem;
  flex-wrap: wrap;
}

.turma-div {
  width: 31rem;
  height: 17rem;
  background-color: var(--amarelo);
  border: 5px solid var(--preto);
  border-radius: 1rem;
  box-shadow: 0 4px 0 0 #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  p {
    margin-top: -2rem;
    font-size: 2rem;
    color: #000000ad;
  }
}
